<%- include("../partials/coursehead") %>

<style>
    .card-img-bottom {
        height: 250px;
    }

    .card {
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <h1 style="text-align: center; color: rgb(101, 101, 250); font-weight: bolder; padding-bottom: 20px;">WELCOME TO OUR ONLINE COURSES...</h1>
    <p>
       Welcome to our courses page. We offer a lot of online courses on our site while some may be free, others
        may be paid courses but at very affordable rates. we offer a wide range of courses in our online academy 
        renging from Basic Education Courses to Programming to Artificial intelligence Courses.
    </p>
    <p>
        Our courses are built to ensure that at education is not hampered by bottlenecks imposed by ubforseen 
        circumstances beyond human control.
    </p>
</div>


<section class="blog py-5" id="courses">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="text-bl text-center font-weight-bold mb-2">Courses Category</h3>
        <h6 class="text-colors text-center let-spa mb-5">Checkout Our Courses Offered</h6>
        <div class="row">
            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/courses/HTML-Courses">
                            <img class="card-img-bottom" src="images/html.png" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">HTML Programming Courses</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/courses/CSS-Courses">
                            <img class="card-img-bottom" src="images/css.png" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">CSS Programming Courses</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/courses/JavaScript-Courses">
                            <img class="card-img-bottom" src="images/js.png" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">JavaScript Programming Courses</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/courses/External-Libraries">
                            <img class="card-img-bottom" src="images/library.jpeg" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">External Libraries</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/courses/Back-End-Courses">
                            <img class="card-img-bottom" src="images/nodejs.png" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">Back-End Programming Courses</a>
                        </h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/courses/Artificial-Intelligence">
                            <img class="card-img-bottom" src="images/artificial-intel-2.png" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">Artificial intelligence</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/courses/Science">
                            <img class="card-img-bottom" src="images/edu.jpeg" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">Academics | Sciences</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/courses/Social-Science">
                            <img class="card-img-bottom" src="images/edu2.jpeg" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">Academics | Social Sciences</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/coursrs/Arts">
                            <img class="card-img-bottom" src="images/academics.jpeg" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">Academics | Arts</a>
                        </h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#">
                            <img class="card-img-bottom" src="images/class-live.png" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">Music Lessons</a>
                        </h5>
                    </div>
                </div>
            </div>
            

            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/courses/Enterpreneurship">
                            <img class="card-img-bottom" src="images/entrepreneurship.png" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">Enterpreneurship</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 px-2 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/courses/E-Books">
                            <img class="card-img-bottom" src="images/ebooks.png" alt="Card image cap">
                            <span class="fa fa-user post-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#" class="text-bl">E-Books</a>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
    
<%- include("../partials/coursefoot") %>