<%- include("../partials/coursehead.ejs") %>

<div class="container">
    <h1 style="text-align: center">Add a comment </h1>
    <form action="/courses/<%- course_id %>/comments?_method=PUT" method="POST">
        <label for="name">New comment</label>
        <input type="text" placeholder="Add a new comment" name="text">   
        <a href="/courses/<%- course_id %>" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
</div>

<%- include("../partials/coursefoot.ejs") %>  

