<%- include("./partials/heading") %>

	<!-- //navigation -->
	<!-- //header 2 -->

	<!-- banner -->
	<div class="banner_w3lspvt">
		<div class="csslider infinity" id="slider1">
			<input type="radio" name="slides" checked="checked" id="slides_1" />
			<input type="radio" name="slides" id="slides_2" />
			<input type="radio" name="slides" id="slides_3" />
			<ul class="banner banner1">
				<li class="banner-top1">
					<div class="container">
						<div class="banner-info_w3ls">
							<h5 class="text-li">Your Education, Your Way! </h5>
							<h3 class="text-wh font-weight-bold mt-2 mb-5">Best Online <br>Learning System </h3>
							<p> Get started with online education </p>
						</div>
					</div>
				</li>
				<li class="banner banner2">
					<div class="container">
						<div class="banner-info_w3ls">
							<h5 class="text-li">Your Education, Your Way! </h5>
							<h3 class="text-wh font-weight-bold mt-2 mb-5">Best Online <br>Learning System </h3>
							<p> Get started with online education </p>
						</div>
					</div>
				</li>
				<li class="banner banner3">
					<div class="container">
						<div class="banner-info_w3ls">
							<h5 class="text-li">Your Education, Your Way! </h5>
							<h3 class="text-wh font-weight-bold mt-2 mb-5">Best Online <br>Learning System </h3>
							<p> Get started with online education </p>
						</div>
					</div>
				</li>
			</ul>
			<div class="navigation">
				<div>
					<label for="slides_1"></label>
					<label for="slides_2"></label>
					<label for="slides_3"></label>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->

	<!-- banner bottom grids -->
	<section class="about-bottom" id="services">
		<div class="container pb-lg-4">
			<div class="row bg-colors text-center">
				<div class="col-md-4 service-subgrids">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-wh font-weight-bold mb-3">Group Seminars</h4>
						<p class="text-li"> Join our group seminars for live changing sessions</p>
					</div>					
					<span class="fa fa-users" aria-hidden="true"></span>
					</div>
				<div class="col-md-4 service-subgrids bg-li">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-bl font-weight-bold mb-3">Trending Courses</h4>
						<p class="text-secondary"> Checkout our most trending courses here</p>
					</div>
					<span class="fa fa-linode" aria-hidden="true"></span>
					</div>
				<div class="col-md-4 service-subgrids">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-wh font-weight-bold mb-3">Large Library</h4>
						<p class="text-li"> Lots of E-books in our large library to serve you better</p>
					</div>
					<span class="fa fa-book" aria-hidden="true"></span>
					</div>
			</div>
			<div class="row bg-colors text-center">
				<div class="col-md-4 service-subgrids bg-li">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-bl font-weight-bold mb-3">Online Courses</h4>
						<p class="text-secondary"> Lots of online tutorials to aid your projects</p>
					</div>
					<span class="fa fa-laptop" aria-hidden="true"></span>
					</div>
				<div class="col-md-4 service-subgrids">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-wh font-weight-bold mb-3">Expert Teachers</h4>
						<p class="text-li"> We have experienced tutor in all fields to serve you better</p>
					</div>
					<span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
					</div>
				<div class="col-md-4 service-subgrids bg-li">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-bl font-weight-bold mb-3">Web Design Templates</h4>
						<p class="text-secondary"> Checkout affordable web-design templates for your projects</p>
					</div>
					<span class="fa fa-magic" aria-hidden="true"></span>
					</div>
			</div>
		</div>
	</section>
	<!-- //banner bottom grids -->

	<!-- about -->
	<section class="w3ls-bnrbtm py-5" id="about">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-6 pr-xl-5">
					<h5 class="text-colors let-spa">Something About Us</h5>
					<h3 class="text-bl font-weight-bold mt-3 mb-5">We are the best leaders in the <br>online education.</h3>
					<h4 class="text-colors let-spa">Affordable <br>Online Courses</h4>
				</div>
				<div class="col-lg-6 pl-xl-5 mt-lg-0 mt-4">
					<p> We are the leaders in the online education, we make sure we satisfy your every need as per the online schooling. 
						We are making sure to ensure that you have atleast 99.9% comfortability as though you are offline in a 
						physical class.</p>
					<p class="pt-4 mt-4 border-top">We have really cheap and affordable online courses that suits real life educational
						system at all levels. There are also Live classes by our seasoned tutors with lots on projects and team assignment.
					</p>
				</div>
			</div>
			<!-- stats
			<div class="stats-info mt-5 pt-lg-4">
				<div class="row">
					<div class="col-lg-3 col-sm-6 stats-grid-w3-w3pvt-am">
						<div class="row">
							<div class="col-4 icon-right-w3ls text-sm-left text-center">
								<div class="stats-icon-w3pvt">
									<span class="fa fa-smile-o"></span>
								</div>
							</div>
							<div class="col-8">
								<p class="counter font-weight-bold text-bl">1280</p>
								<p class="text-colors mt-2">Happy Parents</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 stats-grid-w3-w3pvt-am mt-sm-0 mt-4">
						<div class="row">
							<div class="col-4 icon-right-w3ls text-sm-left text-center">
								<div class="stats-icon-w3pvt">
									<span class="fa fa-shield"></span>
								</div>
							</div>
							<div class="col-8">
								<p class="counter font-weight-bold text-bl">920</p>
								<p class="text-colors mt-2">Awards Won</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 stats-grid-w3-w3pvt-am mt-lg-0 mt-4">
						<div class="row">
							<div class="col-4 icon-right-w3ls text-sm-left text-center">
								<div class="stats-icon-w3pvt">
									<span class="fa fa-user-o"></span>
								</div>
							</div>
							<div class="col-8">
								<p class="counter font-weight-bold text-bl">1400</p>
								<p class="text-colors mt-2">Best Teachers</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 stats-grid-w3-w3pvt-am mt-lg-0 mt-4">
						<div class="row">
							<div class="col-4 icon-right-w3ls text-sm-left text-center">
								<div class="stats-icon-w3pvt">
									<span class="fa fa-thumbs-o-up"></span>
								</div>
							</div>
							<div class="col-8">
								<p class="counter font-weight-bold text-bl">1080</p>
								<p class="text-colors mt-2">Successful Kids</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			//stats -->
		</div>
	</section>
	<!-- //about -->

	<!-- professors -->
	<section class="teams text-center py-5" id="team">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="text-bl font-weight-bold mb-2">Our Team</h3>
			<h6 class="text-colors let-spa mb-5">Brilliant</h6>
			<div class="row inner-sec-w3ls-w3pvt-aminfo pt-sm-4">
				<div class="col-md-3 col-sm-6 p-0">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="images/Kaidi.png" alt="">
						</div>
						<div class="team-info">
							<h4>Kingdavid Oshin</h4>
							<h5>Chief Executive Officer</h5>
							<ul class="d-flex justify-content-center py-3 social-icons">
								<li class="effect-soc-team1">
									<a href="#">
										<span class="fa fa-facebook-f"></span>
									</a>
								</li>
								<li class="effect-soc-team2">
									<a href="#">
										<span class="fa fa-twitter"></span>
									</a>
								</li>
								<li class="effect-soc-team3">
									<a href="#">
										<span class="fa fa-google-plus"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="images/Joanna.jpg" alt="">
						</div>
						<div class="team-info">
							<h4>Joanna Aizebeoje</h4>
							<h5>Chief Accountant</h5>
							<ul class="d-flex justify-content-center py-3 social-icons">
								<li class="effect-soc-team1">
									<a href="#">
										<span class="fa fa-facebook-f"></span>
									</a>
								</li>
								<li class="effect-soc-team2">
									<a href="#">
										<span class="fa fa-twitter"></span>
									</a>
								</li>
								<li class="effect-soc-team3">
									<a href="#">
										<span class="fa fa-google-plus"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 mt-sm-0 mt-5">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="images/Gab.jpeg" alt="">
						</div>
						<div class="team-info">
							<h4>Gabriel Oboro</h4>
							<h5>Chief Operations Officer</h5>
							<ul class="d-flex justify-content-center py-3 social-icons">
								<li class="effect-soc-team1">
									<a href="#">
										<span class="fa fa-facebook-f"></span>
									</a>
								</li>
								<li class="effect-soc-team2">
									<a href="#">
										<span class="fa fa-twitter"></span>
									</a>
								</li>
								<li class="effect-soc-team3">
									<a href="#">
										<span class="fa fa-google-plus"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="images/jenny.jpg" alt="">
						</div>
						<div class="team-info">
							<h4>Jennifer Ebere</h4>
							<h5>Chief Cinematographer</h5>
							<ul class="d-flex justify-content-center py-3 social-icons">
								<li class="effect-soc-team1">
									<a href="#">
										<span class="fa fa-facebook-f"></span>
									</a>
								</li>
								<li class="effect-soc-team2">
									<a href="#">
										<span class="fa fa-twitter"></span>
									</a>
								</li>
								<li class="effect-soc-team3">
									<a href="#">
										<span class="fa fa-google-plus"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //professors -->

	<!-- who we are -->
	<section class="w3ls-bnrbtm py-5" id="who">
		<div class="py-xl-5 py-lg-3">
			<div class="row no-gutters">
				<div class="col-xl-6 who-left-w3pvt">
					<h6 class="text-colors let-spa">Something</h6>
					<h3 class="text-bl font-weight-bold mt-2 mb-3">Who We Are</h3>
					<p>We are and online education platform built and set up to foster learning at all levels, 
						and for different courses.
					</p>
					<ul class="list-unstyled who-lists mt-4 ml-5">
						<li><span class="fa fa-caret-right"></span>Best Value Schools</li>
						<li class="my-2"><span class="fa fa-caret-right"></span>Best Colleges for Veterans</li>
						<li><span class="fa fa-caret-right"></span>Engineering Programs</li>
						<li class="mt-2"><span class="fa fa-caret-right"></span>Free Online Courses</li>
					</ul>


				</div>
				<div class="col-xl-6 mt-xl-0 mt-5 text-xl-right text-center">
					<img class="img-fluid rounded" src="images/who.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- //who we are -->

	<!-- middle section -->
	<div class="bg-colors py-4">
		<div class="container py-2">
			<h2 class="text-bg-click text-center font-weight-bold let-spa text-wh">Our Most Popular Courses <a href="/courses" class="text-wh button-clk">Click
					Here</a></h2>
		</div>
		
	</div>
	<!-- newsletter -->
	<div class="newsletter_right_w3w3pvt-lau bg-black py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 border-right">
					<h6 class="text-colors let-spa">Signup for Free</h6>
					<h3 class="text-wh font-weight-bold mt-2 mb-3">Subscribe Newsletter</h3>
				</div>
				<div class="col-lg-8 news-right-w3ls mt-lg-0 mt-4">
					<p class="text-li mb-3">Subscribe to our latest news to be updated</p>
					<form action="#" method="post">
						<div class="row">
							<div class="col-md-5 form-group pr-md-0">
								<input class="form-control" type="text" name="Name" placeholder="Name" required="">
							</div>
							<div class="col-md-5 form-group pr-md-0">
								<input class="form-control" type="email" name="Email" placeholder="Email Address" required="">
							</div>
							<div class="col-md-2 form-group pr-md-0 mt-md-0 mt-3">
								<button class="btn" type="submit">Subscribe</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //newsletter -->
	<!-- //middle section -->

	<!-- testimonials -->
	<section class="clients" id="testi">
		<div class="row no-gutters pb-4">
			<div class="col-lg-6 col-md-8 left-test-w3pvt p-sm-5 p-4">
				<div class="my-4 py-xl-5 py-lg-3">
					<div class="feedback-info">
						<div class="feedback-top">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod. sed do eiusmod tempor
								incididunt
								ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
							<h4 class="mt-4 text-wh font-weight-bold mb-4">Mary Jane</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-4"></div>
		</div>
	</section>
	<!-- //testimonials -->

	<!-- gallery 
	<div class="gallery py-5" id="gallery">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="text-bl text-center font-weight-bold mb-2">Our Gallery</h3>
			<h6 class="text-colors text-center let-spa mb-5">See More</h6>
			<div class="row no-gutters">
				<div class="col-md-4 gallery-grid1">
					<a href="#gal1">
						<img src="images/g1.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-md-4 gallery-grid1">
					<a href="#gal2">
						<img src="images/g2.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-md-4 gallery-grid1">
					<a href="#gal3">
						<img src="images/g3.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-md-4 gallery-grid1">
					<a href="#gal4">
						<img src="images/g4.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-md-4 gallery-grid1">
					<a href="#gal5">
						<img src="images/g5.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-md-4 gallery-grid1">
					<a href="#gal6">
						<img src="images/g6.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
			</div>
		</div>
		 gallery popups -->
		<!-- popup
		<div id="gal1" class="pop-overlay animate">
			<div class="popup">
				<img src="images/g1.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		//popup 
		 popup
		<div id="gal2" class="pop-overlay animate">
			<div class="popup">
				<img src="images/g2.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
	 //popup 
		popup
		<div id="gal3" class="pop-overlay animate">
			<div class="popup">
				<img src="images/g3.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<div id="gal4" class="pop-overlay animate">
			<div class="popup">
				<img src="images/g4.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<div id="gal5" class="pop-overlay animate">
			<div class="popup">
				<img src="images/g5.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<div id="gal6" class="pop-overlay animate">
			<div class="popup">
				<img src="images/g6.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		//popup 
		//gallery popups
	</div>
//gallery -->

	

	<!-- brands -->
	<section class="brands pt-5">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-md-2 col-4 main-brand bg-grey">
					<span class="fa fa-500px mb-3" aria-hidden="true"></span>
					<h5>500px</h5>
				</div>
				<div class="col-md-2 col-4 main-brand bg-black">
					<span class="fa fa-gg mb-3" aria-hidden="true"></span>
					<h5>gg varius</h5>
				</div>
				<div class="col-md-2 col-4 main-brand bg-dark2">
					<span class="fa fa-lastfm mb-3" aria-hidden="true"></span>
					<h5>lastfm</h5>
				</div>
				<div class="col-md-2 col-4 main-brand bg-grey">
					<span class="fa fa-openid mb-3" aria-hidden="true"></span>
					<h5>openid</h5>
				</div>
				<div class="col-md-2 col-4 main-brand bg-black">
					<span class="fa fa-ravelry mb-3" aria-hidden="true"></span>
					<h5>ravelry</h5>
				</div>
				<div class="col-md-2 col-4 main-brand bg-dark2">
					<span class="fa fa-angellist mb-3" aria-hidden="true"></span>
					<h5>angellist</h5>
				</div>
			</div>
		</div>
	</section>
	<!-- //brands -->

    
    <%- include("./partials/footer") %>