<%- include("./partials/head") %>


<style>
    h3 {
        text-transform: uppercase;
        color: rgb(140, 140, 207);
        letter-spacing: 3px;
        font-size: 20px;
    }
</style>

<div class="container">
    <h1 style="text-align: center; color: dodgerblue; letter-spacing: 2px; text-transform: uppercase;">
        Terms & Privacy
    </h1>
    <div style="padding: 30px; background-color: rgb(248, 248, 248); margin: 20px; border-radius: 50px;">
    
        <h3><strong>Last updated: January 21st, 2021.</strong></h3><br>

        <p>
            Please read these Terms and Privacy carefully before using the <a href="#">kaydeeacademy.com</a> 
            website operated by KAYDEE ACADEMY ("us", "we", "our").
        </p><br>
        <p>
            Your access to and use of the Service is conditioned on your acceptance of and compliance with 
            these Terms. These Terms apply to all visitors, users and others who access or use the Service.
        </p><br>
        <p><strong>
            By accessing or using the Service you agree to be bound by these Terms. If you disagree with 
            any part of the terms then you may not access the Service.
        </p></strong><br>
        <p>
            <h3><strong>Purchases</strong></h3><br>
            If you wish to purchase any product or service made available through this Service, you may be 
            asked to supply certain information relevant to your Purchase including, without limitation, your 
            card details and login details.

        </p><br>
        <p>            
            <h3><strong>Termination</strong></h3><br>
            We may terminate or suspend access to our Service immediately, without prior notice or liability, 
            for any reason whatsoever, including without limitation if you breach the Terms.
        </p><br>
        <p>
            All provisions of the Terms which by their nature should survive termination shall survive termination, 
            including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
        </p><br>
        <p>
            <h3><strong>Content</strong></h3><br>
            Our Service allows you to post, link, store, share and otherwise make available certain information, 
            text, graphics, videos, or other materials for educational purposes. You are responsible for the exposure 
            of any private information disclosed as KAYDEE ACADEMY would not be held responsible.

        </p><br>
        <h3><strong>Links To Other Websites</strong></h3><br>
        <p>
            Our Service may contain links to third-party web sites or services that are not owned or controlled by KAYDEE ACADEMY.<br>
            KAYDEE ACADEMY has no control over, and assumes no responsibility for, the content, privacy policies, or practices of 
            any third party web sites or services. You further acknowledge and agree that KAYDEE ACADEMY shall not be responsible 
            or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or 
            reliance on any such content, goods or services available on or through any such web sites or services.
        </p><br>
        <p>
            <h3><strong>Changes</strong></h3><br>
            We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we 
            will try to provide at least 15 days' notice prior to any new terms taking effect. What constitutes a material change will 
            be determined at our sole discretion.            
        </p><br>
        <p>
           <h3><strong>Contact Us</strong></h3><br>
            If you have any questions about these Terms, <a href="/contact">Please contact us</a>.
        </p><br>
    </div>
</div>

<%- include("./partials/footer") %>